.Rproj.user
.Rapp.history
.Rhistory
*.RData
*.Rds
.Ruserdata

WID_SMK.pdf
WID_SMK.log

*.pdf
!jamaonc-2015.pdf
*.png
*.html
*.ai
*.docx
*.gif
*.mp4

!0-source/*.xlsx
!0-source/*.csv
!0-source/*.R

1-analysis-pipeline/3-output/*.xlsx

*.xlsx
*.csv
*.log


.DS_Store

progression_metastasis_lung.Rmd

survival-lung-smk.Rmd
Fat-investigation.R
nshd-smk.R
ecig_x.R
code_for_animation.R